html {
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

button {
  user-select: none;
}

body {
  margin: 60px 0;
  background: url("../img/10-14-Day-Thumb.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1 {
  font: 200 29px/20px "nutanix_soft", san-serif;
}

h2 {
  font: 400 18px/12px "nutanix_soft", san-serif;
}

h3 {
  font: 500 14px/10px "nutanix_soft", san-serif;
}

h4 {
  font: 400 12px/8px "nutanix_soft", san-serif;
}

p {
  font: 400 14px/22px "nutanix_soft", san-serif;
}

a {
  color: #22A5F7;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

h1 {
  line-height: 1.2;
}

.primary {
  margin: 0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 400 14px/10px "nutanix_soft", san-serif;
  font-weight: 500;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
  outline: none;
}

.primary:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #1f88de;
}

.primary:active {
  color: #FFFFFF;
  background-color: #1b6dc6;
}

.primary span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.secondary-alt {
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  margin: 0;
  outline: none;
  transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  border: none;
}

.secondary-alt:hover {
  color: #22A5F7;
  cursor: pointer;
}

.secondary-alt:active {
  color: #91d2fb;
}

.secondary-alt span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.secondary-alt:hover {
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
}

.secondary-alt span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.secondary {
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  margin: 0;
  outline: none;
}

.secondary:hover {
  color: #22A5F7;
  cursor: pointer;
}

.secondary:active {
  color: #91d2fb;
}

.secondary span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.fw {
  width: 100%;
}

[data-type='alt'] {
  color: #7C8D9F;
}

header, aside, footer {
  position: fixed;
}

header {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 20;
}

.header {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 0 20px;
}

.header svg {
  height: 20px;
  fill: #37414B;
  opacity: 0.8;
  margin-right: 20px;
}

.header .screen-switcher {
  height: 16px;
  width: 16px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 2px;
  position: relative;
  outline: 1px solid transparent;
  transform: translate(14px);
}

.header .screen-switcher:before, .header .screen-switcher:after {
  position: absolute;
  outline: 1px solid transparent;
  display: inline-block;
  content: '';
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: width;
}

.header .screen-switcher:before {
  height: 12px;
  width: 26px;
  box-sizing: border-box;
  left: -7px;
  top: 1px;
}

.header .screen-switcher:after {
  height: 7px;
  width: 34px;
  box-sizing: border-box;
  left: -11px;
  top: 4px;
  border-color: rgba(255, 255, 255, 0.2);
}

.header .screen-switcher:hover {
  cursor: pointer;
}

.header .screen-switcher:hover:before {
  height: 12px;
  width: 30px;
  box-sizing: border-box;
  left: -9px;
  top: 1px;
}

.header .screen-switcher:hover:after {
  height: 7px;
  width: 42px;
  box-sizing: border-box;
  left: -15px;
  top: 4px;
}

.header .left, .header .right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  color: #FFFFFF;
}

.header .status {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-right: 20px;
  font-weight: 500;
}

.header .status:before {
  height: 6px;
  width: 6px;
  box-sizing: border-box;
  content: '';
  background-color: #36D068;
  display: inline-block;
  margin-right: 10px;
  border-radius: 4pc;
}

.header .user {
  height: 20px;
}

.expanded {
  height: 0 !important;
}

.screens {
  height: 150px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: transform;
  overflow: hidden;
}

.screens:hover {
  cursor: pointer;
}

.screens img {
  height: 80px;
  width: auto;
  box-sizing: border-box;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0.5;
  will-change: transform, opacity;
}

.screens img:hover {
  opacity: 1;
  transform: scale(1.04);
}

.screens h3 {
  margin-top: 10px;
  color: white;
  text-align: center;
}

.screenblock {
  padding: 20px 20px 0px 20px;
  position: relative;
}

.expanded-container {
  transform: translateY(150px);
  opacity: 0.4;
}

container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 20px;
  padding: 30px;
  max-width: 980px;
  margin: auto;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: transform;
}

container .iconContainer {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 4px;
  height: 64px;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: transform, opacity;
}

container .iconContainer > * {
  user-select: none;
}

container .iconContainer > *::selection {
  background: transparent;
}

container .iconContainer:hover {
  transform: scale(1.04);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}

container .iconContainer:active {
  transform: scale(1);
  background-color: rgba(0, 0, 0, 0.6);
}

container .iconContainer img {
  height: 64px;
}

container .iconContainer h3 {
  user-select: none;
  padding: 0px 16px;
  margin-top: 10px;
  border-radius: 4pc;
  color: white;
  width: 100%;
  text-align: center;
}

.mini-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14px, 14px));
  grid-gap: 14px;
  top: 20px;
  transform: translate(20px, -70px);
  pointer-events: none;
}

.mini-grid img {
  opacity: 1;
}

.small {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px;
  border-radius: 1px;
  height: 14px;
  width: 14px;
}

.small img {
  height: 14px;
}

.user {
  background-image: url("../img/pyramid.png");
  background-size: cover;
  border: none;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  overflow: auto;
  border-radius: 3px;
  height: 30px !important;
}

.disabled {
  pointer-events: none;
}

.desktopContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 80px;
  max-width: 980px;
  margin: 80px auto -10px auto;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: transform;
  color: white;
  border-radius: 4px;
  grid-column: 1 / span 6;
}

.desktopContainer img {
  height: 50px;
  margin-bottom: 20px;
}

.desktopContainer:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}

.desktopContainer:active {
  background-color: rgba(0, 0, 0, 0.6);
}
