@charset "UTF-8";
html {
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 120px 0 0 240px;
  background: #F2F4F6;
  width: calc(100vw - 240px);
  min-height: calc(100vh - 160px);
}

body input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset]), body select {
  height: 32px;
  width: 100%;
  box-sizing: border-box;
  padding: 11px 10px;
  border-radius: 4px;
  border: 1px solid #B8BFCA;
  font: 400 14px/10px "nutanix_soft", san-serif;
  color: #22272E;
  position: relative;
}

body input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset]):disabled, body select:disabled {
  background-color: #F2F4F6;
}

body input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset]):focus, body select:focus {
  outline: none;
  border-color: #22A5F7;
}

body input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset])::-webkit-input-placeholder, body select::-webkit-input-placeholder {
  padding-top: 4px;
  vertical-align: middle;
  color: #D5DAE0;
}

body label,
body legend {
  text-align: left;
  width: 100%;
}

body label {
  font: 400 12px/8px "nutanix_soft", san-serif;
  font-weight: 500;
  text-align: left;
  width: 100%;
  color: #627386;
  margin-bottom: 10px;
}

body input[type=submit], body [data-type='primary'] {
  margin: 0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 500 14px/10px "nutanix_soft", san-serif;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
  outline: none;
}

body input[type=submit]:hover, body [data-type='primary']:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #1f88de;
}

body input[type=submit]:active, body [data-type='primary']:active {
  color: #FFFFFF;
  background-color: #1b6dc6;
}

body input[type=submit] span, body [data-type='primary'] span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

body input[type=reset], body [data-type='secondary'] {
  background-color: #FFFFFF;
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  padding: 11px 15px;
  font: 500 14px/10px "nutanix_soft", san-serif;
  color: #22272E;
  text-decoration: none;
  margin: 0;
  outline: none;
}

body input[type=reset]:hover, body [data-type='secondary']:hover {
  color: #22A5F7;
  cursor: pointer;
}

body input[type=reset]:active, body [data-type='secondary']:active {
  color: #91d2fb;
}

aside {
  height: calc(100vh - 120px);
}

header, li, .right, .left, .subheader, .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

h1 {
  font: 200 29px/20px "nutanix_soft", san-serif;
}

h2 {
  font: 400 18px/12px "nutanix_soft", san-serif;
}

h3 {
  font: 500 14px/10px "nutanix_soft", san-serif;
}

h4 {
  font: 400 12px/8px "nutanix_soft", san-serif;
}

p {
  font: 400 14px/22px "nutanix_soft", san-serif;
}

a {
  color: #22A5F7;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

h1 {
  line-height: 1.2;
}

.primary {
  margin: 0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 500 14px/10px "nutanix_soft", san-serif;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
  outline: none;
}

.primary:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #1f88de;
}

.primary:active {
  color: #FFFFFF;
  background-color: #1b6dc6;
}

.primary span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.secondary-alt {
  background-color: #FFFFFF;
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  padding: 11px 15px;
  font: 500 14px/10px "nutanix_soft", san-serif;
  color: #22272E;
  text-decoration: none;
  margin: 0;
  outline: none;
  transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  border: none;
}

.secondary-alt:hover {
  color: #22A5F7;
  cursor: pointer;
}

.secondary-alt:active {
  color: #91d2fb;
}

.secondary-alt:hover {
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
}

.secondary {
  background-color: #FFFFFF;
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  padding: 11px 15px;
  font: 500 14px/10px "nutanix_soft", san-serif;
  color: #22272E;
  text-decoration: none;
  margin: 0;
  outline: none;
}

.secondary:hover {
  color: #22A5F7;
  cursor: pointer;
}

.secondary:active {
  color: #91d2fb;
}

[data-type='alt'] {
  color: #7C8D9F;
}

.fw {
  width: 100%;
}

header, .subheader {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
}

.right > * {
  margin-right: 20px;
}

.left > * {
  margin-left: 20px;
}

header, aside, footer, .subheader {
  left: 0;
  z-index: 2;
  position: fixed;
  font-weight: 500;
  background: white;
}

header {
  top: 0;
  color: white;
  padding: 0 20px;
  background: #22272E;
}

header .logo {
  height: 16px;
  fill: #4D5969;
}

.subheader {
  top: 60px;
  z-index: 2;
  color: #627386;
  border-bottom: 1px solid #F2F4F6;
}

.sub-item:hover, li:hover {
  color: #22A5F7;
  cursor: pointer;
}

.sub-active {
  color: #22272E;
  position: relative;
}

.sub-active:after {
  content: '';
  left: 0;
  bottom: -25px;
  position: absolute;
  background: #22A5F7;
  height: 2px;
  width: 100%;
  box-sizing: border-box;
}

.side-active:hover .sub-active:hover {
  color: #22272E;
}

aside {
  top: 120px;
  left: 0;
  color: #627386;
  width: 240px;
  padding: 20px 0;
  box-sizing: border-box;
  border-right: 1px solid #F2F4F6;
}

li {
  height: 35px;
  padding: 0 20px;
}

.side-active {
  color: #22272E;
  background: #f4fbff;
  border-right: 2px solid #22A5F7;
}

.side-active-alt {
  border: none;
  background: transparent;
}

.child {
  padding: 0 20px;
  margin-left: 20px;
  border-left: 2px solid #F2F4F6;
}

.manage {
  color: #22A5F7;
  margin: 0 20px;
  padding: 10px 0;
  margin-top: 10px;
  border-top: 1px solid #F2F4F6;
}

container {
  padding: 20px;
  height: 100%;
  min-height: calc(100vh - 160px);
  max-width: 1500px;
  background: #F2F4F6;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.banner {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #1b6dc6;
  padding: 20px;
  background: #d3edfd;
  margin-bottom: 20px;
}

.banner h3 {
  margin-bottom: 12px;
  color: #1856ad;
}

.banner:before {
  content: '';
  padding: 20px;
  box-sizing: border-box;
  height: 70px;
  width: 80px;
  box-sizing: border-box;
  display: inline-block;
  background: url("../img/playground.svg");
  background-size: contain;
  background-position: center;
  margin-right: 20px;
  background-repeat: no-repeat;
}

.banner, .card, .state {
  border-radius: 4px;
  box-sizing: border-box;
}

.page-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 20px;
}

.page-actions > * {
  margin-right: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
  width: 100%;
}

.card {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: white;
  will-change: box-shadow;
}

.card:hover {
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
}

.card-header {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  border-bottom: 1px solid #F2F4F6;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  color: #22A5F7;
  border-top: 1px solid #F2F4F6;
  font-weight: 500;
}

.card-footer:hover {
  cursor: pointer;
}

td {
  padding: 0 20px;
  vertical-align: middle;
  height: 40px;
  width: auto;
  box-sizing: border-box;
}

td:last-child {
  text-align: right;
}

.card-body table tr:not(:last-child) {
  border-bottom: 1px solid #F2F4F6;
}

.state {
  height: 6px;
  width: 6px;
  box-sizing: border-box;
  background: #F55656;
  margin-right: 10px;
  display: inline-flex;
  transform: translateY(-1px);
}

#Backup-table td:last-child {
  padding-right: 10px;
}

#Backup-table td:last-child:before {
  font: 400 12px/8px "nutanix_soft", san-serif;
  color: white;
  content: 'M';
  display: inline-block;
  padding: 4px;
  background: #36D068;
  font-weight: 500;
  margin-right: 15px;
  border-radius: 2px;
}

#Backup-table td:last-child:after {
  color: #7C8D9F;
  content: '⠇';
  margin-left: 15px;
}

.Applications {
  grid-row: 1 / span 2;
  grid-column: 2/ span 2;
}

.Applications .card-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 0;
  overflow: hidden;
}

.Applications .card-body .iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  position: relative;
  box-shadow: 1px 1px 0 0.5px #F2F4F6;
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Applications .card-body .iconContainer img {
  height: 52px;
  margin-bottom: 10px;
}

.Applications .card-body .iconContainer:after {
  top: 10px;
  right: 10px;
  color: #7C8D9F;
  content: '⠇';
  opacity: 0.5;
  position: absolute;
}

.Applications .card-body .iconContainer:hover {
  cursor: pointer;
  color: #22A5F7;
  z-index: 10;
}

.Applications .card-body .iconContainer:hover:after {
  color: #22A5F7;
  opacity: 1;
}

.table-container {
  background: white;
  border-radius: 4px;
  margin-top: 20px;
}

.table-container th {
  font: 400 12px/8px "nutanix_soft", san-serif;
  font-weight: 500;
  color: #627386;
  padding: 0 20px;
  text-align: left;
  position: relative;
  vertical-align: middle;
}

.table-container th svg {
  transform: translate(5px, 1px);
}

.table-container tr {
  height: 45px;
  border-bottom: 1px solid #F2F4F6;
}

.table-container tr:after {
  display: inline-block;
  color: #7C8D9F;
  content: '⠇';
  padding-top: 14px;
  right: 30px;
}

.table-container tr:first-child:after {
  color: transparent;
}

.table-container td:last-child {
  text-align: left;
}

input[type='number'] {
  width: 80px !important;
}

input[type='range'] {
  all: unset !important;
  height: 2px !important;
  background: #22A5F7 !important;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  height: 12px;
  width: 20px;
  box-sizing: border-box;
  margin-left: calc(100% - 20px);
  background-color: #F2F4F6;
  border: 1px solid #B8BFCA;
  border-radius: 4pc;
  position: relative;
}

input[type='checkbox']:hover {
  cursor: pointer;
}

input[type='checkbox']:after {
  content: '';
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: block;
  border: 1px solid #627386;
  height: 12px;
  width: 12px;
  box-sizing: border-box;
  border-radius: 4pc;
  background: white;
  position: absolute;
  left: -2px;
}

input[type='checkbox']:active {
  background-color: #D5DAE0;
  border-color: #9AA5B5;
}

input[type='checkbox']:checked {
  border-color: transparent;
  background-color: #22A5F7;
}

input[type='checkbox']:checked:after {
  left: 8px;
  border-color: #1b6dc6;
}
