//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';

html { @include font
  @include flex(center, center, column);
}
button{user-select: none;}
body {
  margin: 60px 0;
  // background: url('../img/10-14-Day-Thumb.jpg');
  background-size: cover;
  @include size(100vh, 100vw);
  min-height: 100vh;
  overflow: hidden;
  background-color: $background-color-1;
}

//fonts

h1 { font: $h1 }
h2 { font: $h2 }
h3 { font: $h3 }
h4 { font: $h4 }
p  { font: $p  }
a  { @include link }
h1 { line-height: 1.2 }

//primitives

.primary       { @include primary }
.secondary-alt { @include secondary-alt }
.secondary     { @include secondary }

// color and size

.fw   { width: 100% }
[data-type='alt']{ color:$font-color-3 }


header, aside, footer{
  position: fixed;
}

//full page popup header

header {
  @include size(60px, 100%);
  padding: 0 20px;
  top:     0;
  left:    0;
  z-index: 20;
  background-color: rgba(0,0,0,0.2);
  @include transition(height);
}

.header{
  @include size(60px, 100%);
  @include flex(center,space-between, row);
  @include transition(all);
  svg{
    height: 18px;
    fill:$background-color-2;
    opacity: 0.8;
    margin-right: 20px;
  }

  margin: auto;


  .left{
    @include flex(center,flex-start, row);
    color: $white;
    font-weight: 600;

  }

  .user{
    height: 20px;
  }
}



.header span{
  cursor: pointer;
  @include transition(all);
  &:hover{
    padding: 2px 5px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 3px;
    color:white;
  }
  &::after{
    content:'Copy';
    opacity: 0;
    @include transition(all);
    margin-left: 0;
    border-radius: 3px;
    color:$font-color-3;

  }
  &:hover::after{
    opacity: 1;
    margin-left: 10px;
    transform: translateX(110px);
  }

}

.screens{
  @include size( 150px, 100%);
  @include flex (center, center, row);
  background-color: rgba(0,0,0,0.4);
  img{
    @include size (100px, auto);
  }
  h3{
    margin-top: 10px;
    color: white;
    text-align: center;
  }
}

.screenblock{
  padding: 10px;
}


.screen{
  @include flex(center, center, column);
  min-height: 100vh;
  min-width: 100vw;
}

.vm{
  min-height: 600px;
  width: 800px;
  background: url('../img/10-14-Day-Thumb.jpg');
  background-size: cover;
}

.appleheader{
  @include size(25px, 100%);
  background-color: rgba(0,0,0,0.4);
  color:white;
  padding: 6px 20px;
}

container{
  @include grid(130px,1fr,20px);
  padding: 30px;
  max-width: 980px;


  margin: auto;

  .iconContainer{
    > * {
      user-select: none;
      &::selection { background: transparent; }
    }
    user-select: none;
    @include flex(center, center, column);
    background-color: rgba(0,0,0,0.2);
    padding: 30px;
    border-radius: 4px;
    height: 64px;
    @include transition(all);
    &:hover{
      transform: scale(1.04);
      cursor: pointer;
      background-color: rgba(0,0,0,0.4);
    }

    &:active{
      transform: scale(1.0);
      background-color: rgba(0,0,0,0.5);
    }
    img {height:64px;}
    h3{
      user-select: none;
      padding: 0px 16px;
      margin-top: 10px;
      border-radius: 4pc;
      color:white;
      width: 100%;
      text-align: center;

    }
  }
}

.user{
  background-image: url('../img/pyramid.png');
  background-size: cover;
  border: none;
  @include size(30px, 30px);
  overflow: auto;
  border-radius: 3px;
  height: 30px!important;
}


@media screen and (max-height: 700px) {
  header{
    height: 40px;
  }

  body{
    margin: 40px}
  .header{

    height: 40px;
    svg{
      height: 14px;
      display: none;
      fill:$background-color-2;
      opacity: 0.8;
      margin-right: 20px;
    }
  }
}



/*Popup
========================================================================== */
.overlay{
  @include size(100%, 100%);
  @include flex(center, center, column);
  @include absolute();
  position: fixed;
  top:0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  overflow: hidden;
  @include transition(all);
}

.popup{
  @include size(auto,400px);
  @include shadow;
}

.popup-header{
  @include flex(center, center ,row);
  @include size(auto, 100%);
  position:relative;
  background-color: white;
  border-radius: 4px 4px 0 0;
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid $border-color-3;
  line-height: 10px;

  &:hover::before, &:hover::after{
    background-color:$font-color-1;
  }

  &:hover{
    cursor: pointer;
  }

  &::before, &::after{
  content:'';
  @include absolute(18px,'',23px);
  @include size(14px, 2px);
  border-radius: 3px;
  display: block;
  background-color: $font-color-3;
  }

  &::before{
    transform: rotate(45deg);
  }
  &::after{
    transform: rotate(-45deg);
  }
}

.popup-body{
  @include size(auto,100%);
  @include flex(center, flex-start, column);
  @include inputStyle;
  padding: 30px 20px;
  background-color: white;
  text-align: left;
  h1{
    font: $h3;
    line-height: 1.6;
    margin-bottom: 10px;
    margin-top: -8px;
    width: 100%;
  }

  h3{
    font: $h3;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: -8px;
    width: 100%;
    code{
      background-color: $light-blue-3;
      color:$dark-blue-3;
      padding: 0 5px;
      border-radius: 2px;
    }
  }

  p{
    line-height: 1.5;
    margin-bottom: -6px;
    color: $font-color-2;
  }


  .separator{
    @include size(1px, 100%);
    background-color: $border-color-3;
    margin: 30px 0;
  }

  .primary{
    @include size(32px, 100%);
    @include primary;
    margin-top: 20px;
  }

  .secondary{
    @include size(32px, 100%);
    @include secondary;
    margin-top: 20px;
  }

  input.confirm-deletion{
    margin-top: 20px;
    margin-bottom: 0;
  }

  .delete{
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    background-color: $red-1;
    &:hover{
      background-color: $dark-red-3;
    }
  }
  input[type="file"]{
    display: none;
  }

  .upload-file{
    width: 100%;

    @include flex(center, space-between, row);
    .file-button{

      @include secondary;
      @include size(32px, 121px);
      border-radius: 0 4px 4px 0;
      border-left:none;
      border-color: $border-color-1;
    }

    input.path{
      margin: 0;
      display: flex;
      flex-grow: 1;
      border-radius: 4px 0 0 4px;
    }
  }
}

.popup-footer{
  @include flex(center,flex-end,row);
  @include size(72px, 100%);
  border-radius:
  0   0
  4px 4px;
  border-top: 1px solid $border-color-3;
  background-color: white;
  padding: 20px;

  .primary{
    @include primary;
    border: 1px solid transparent;
    height: 32px;
    margin-left: 10px;
  }

  .secondary{
    @include secondary;
    height: 32px;
    box-sizing: border-box;

  }
}


.select-container{
  @include flex(center, flex-end, row);
}

.no-header{
  margin-top: 0!important;
}

.status{
  @include flex(center, stretch, row);
  color:$font-color-3;
  margin-left: 20px;
  &::before{
    display: inline-block;
    content: '';
    @include size(6px, 6px);
    background-color: $green-1;
    border-radius: 4pc;
    margin-right: 5px;
  }
}


select{
  direction: rtl;
  background: none;
  appearance:none;
  border: none;
  font:$p;
  color:white;
  -webkit-appearance: none;
  outline:none;
  font-weight: 500;

}
