/* > 1. RESET
******************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, figure, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	vertical-align:baseline;
	background:transparent;
	border:0;
	outline:0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}

/* > 2. TYPOGRAPHY
******************************/

html {
	overflow-y:scroll;
	background:#f5f6f7;
	font-family:'Source Sans Pro', sans-serif;
	font-size:100%;
	font-weight:400;
	line-height:1.5;
	word-wrap:break-word;
	-webkit-font-smoothing:antialiased;
	color:#5e6869;
}

/* selection */

::-moz-selection {
	background:#f1c40f;
	color:#fff;
}
::selection {
	background:#f1c40f;
	color:#fff;
}

/* headings */

h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:300;
	color:#2c3e50;
}
h1 {
	margin-bottom:0.75em;
	font-size:2.5em;
	line-height:1.2;
}
h2 {
	margin-bottom:1em;
	font-size:1.5em;
	line-height:1;
}
h3 {
	margin-bottom:1.2em;
	font-size:1.25em;
	line-height:1.2;
}
h4 {
	margin-bottom:1.333em;
	font-size:1.125em;
	line-height:1.34;
}
h5 {
	font-weight:600;
}
h5, h6 {
	margin-bottom:1.5em;
	font-size:1em;
	line-height:1.5;
}

/* paragraphs */

p {
	
	margin-bottom:1.4em;
}
p:last-child {
	margin-bottom:0;
}

/* stylized text */

b, strong {
	font-weight:600;
	font-style:inherit;
}
i, em, q, var {
	font-weight:inherit;
	font-style:italic;
}
s, del, strike {
	text-decoration:line-through;
}
mark, ins {
	padding:0 0.25em;
	background:#f39c12;
	border-radius:2px;
	text-decoration:none;
	color:#fff;
}

/* resized text */

big {
	margin-bottom:1.2em;
	font-size:1.25em;
	line-height:1.2;
}
small {
	font-size:0.75em;
	line-height:1;
}
sup, sub {
	position:relative;
	vertical-align:baseline;
	height:0;
	font-size:75%;
	line-height:0;
}
sup {
	bottom:1ex;
}
sub {
	top:0.5ex;
}

/* blockquotes */

blockquote {
	margin-bottom:1.5em;
	border-left:2px solid #bdc3c7;
	padding-left:1.749em;
	text-indent:0;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
	content:none;
}
blockquote, q {
	quotes:none;
}
cite {
	font-weight:inherit;
	font-style:italic;
}
blockquote cite {
	display:block;
	margin-top:1.5em;
	text-align:right;
}
blockquote cite:before {
	content:"";
	display:block;
	width:100%;
	height:0;
	clear:both;
}

/* preformatted, code, keyboard and teletype */

pre, code, tt {
	font-family:'Inconsolata', monospace;
	font-size:1em;
}
pre {
	overflow:auto;
	margin-bottom:1.5em;
	padding:1.5em 1.875em;
	border-radius:2px;
	background:#34495e;
	line-height:1.5;
	color:#fff;
}
code, tt, kbd {
	line-height:1.5;
}

/* address */

address {
	margin-bottom:1.5em;
	font-style:normal;
}

/* definition lists */

dl {
	margin-bottom:1.5em;
}
dt {
	font-weight:600;
}
dd {
	font-style:normal;
}

/* ordered / unordered lists */

ul, ol {
	list-style:none;
}
ul.unordered li {
	list-style:square;
}
ol.ordered li {
	list-style:decimal;
}
ul.unordered li,
ol.ordered li {
	margin:0.75em 0 0 1.5em;
}

/* links, acronyms, abbreviations */

a {
	color:#3498db;
	text-decoration:none;
}
a:hover {
	opacity:0.8;
}
a:visited {
	opacity:0.8;
}
abbr, acronym {
	border-bottom:1px dotted #95a5a6;
}
abbr:hover, acronym:hover {
	cursor:help;
}

/* > 3. TABLES
******************************/

table {
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
	box-shadow:0 0 0 1px #95a5a6;
}
tr {
	padding:0.375em 0.75em;
	background:#fff;
}
tr:nth-child(even) {
	background:#ecf0f1;
}
th {
	padding:0.375em 0.687em 0.312em 0.75em;
	background:#bdc3c7;
	border-right:1px solid #95a5a6;
	border-bottom:1px solid #95a5a6;
	font-weight:normal;
	text-align:left;
}
td {
	padding:0.312em 0.687em 0.375em 0.75em;
	border-top:1px solid #bdc3c7;
	border-right:1px solid #bdc3c7;
}
th:last-child,
td:last-child {
	border-right-width:0;
}

/* > 4. FORMS
******************************/

form, input, textarea, select {
	max-width:100%;
	margin:0;
	padding:0;
	font-family:'Source Sans Pro', sans-serif;
	font-size:1em;
	line-height:1.5;
}
input,
textarea,
select {
	margin:0.125em auto 0.251em;
	padding:0.5em 0.75em;
	border:1px solid #bdc3c7;
	border-radius:2px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color:#5e6869;
}
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
textarea:hover {
	border-color:#bdc3c7;
}
input:focus,
input:active,
textarea:focus,
textarea:active {
	outline:0 none;
	box-shadow:inset 0 1px 2px rgba(0,0,0,0.125);
}
select {
	background:#ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f6f7));
	background:-webkit-linear-gradient(top, #ffffff 0%, #f5f6f7 100%);
	background:-moz-linear-gradient(top, #ffffff 0%, #f5f6f7 100%);
	background:-ms-linear-gradient(top, #ffffff 0%, #f5f6f7 100%);
	background:-o-linear-gradient(top, #ffffff 0%, #f5f6f7 100%);
	background:linear-gradient(to bottom, #ffffff 0%, #f5f6f7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f6f7', GradientType=0);
}
select:focus {
	outline:0 none;
}
select:active {
	background:#f5f6f7;
	color:#7f8c8d;
}
input[type="checkbox"] {
	position:relative; top:1px;
	margin-right:0.375em;
}
input[type="radio"] {
	position:relative; top:1px;
	margin-right:0.2em;
}

/* input extras */

.input-error {
	border-color:#c0392b !important;
}

/* > 5. BUTTONS
******************************/

button, .btn {
	max-width:100%;
	margin:0.1875em auto 0.251em;
	padding:0.438em 0.875em;
	border:1px solid #bdc3c7;
	border-radius:2px;
	font-family:'Source Sans Pro', sans-serif;
	font-weight:400;
	font-size:1.2em;
	line-height:1.5;
	text-transform:uppercase;
	color:#5e6869;
	cursor:pointer;
	display: block;
}
button:focus {
	outline:0 none;
}
.btn-inline {
	display:inline-block;
	margin:-0.438em auto;
}

.btn:hover {
	opacity:0.875
}

/* default */

button, .btn, .btn-default {
	background:#ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f6f7));
	background:-webkit-linear-gradient(top, #ffffff 0%, #f5f6f7 100%);
	background:-moz-linear-gradient(top, #ffffff 0%, #f5f6f7 100%);
	background:-ms-linear-gradient(top, #ffffff 0%, #f5f6f7 100%);
	background:-o-linear-gradient(top, #ffffff 0%, #f5f6f7 100%);
	background:linear-gradient(to bottom, #ffffff 0%, #f5f6f7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f6f7', GradientType=0);
}
button:focus, .btn:focus, .btn-default:focus,
button:active, .btn:active, .btn-default:active {
	background:#f5f6f7;
	color:#7f8c8d;
}

/* action */

.btn-action {
	background:#3498db;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #3498db), color-stop(100%, #2980b9));
	background:-webkit-linear-gradient(top, #3498db 0%, #2980b9 100%);
	background:-moz-linear-gradient(top, #3498db 0%, #2980b9 100%);
	background:-ms-linear-gradient(top, #3498db 0%, #2980b9 100%);
	background:-o-linear-gradient(top, #3498db 0%, #2980b9 100%);
	background:linear-gradient(to bottom, #3498db 0%, #2980b9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3498db', endColorstr='#2980b9', GradientType=0);
	border-color:#2980b9;
	color:#fff;
}
.btn-action:focus, .btn-action:active {
	background:#2980b9;
	color:#bdc3c7;
}

/* warning */

.btn-warning {
	background:#f1c40f;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1c40f), color-stop(100%, #f39c12));
	background:-webkit-linear-gradient(top, #f1c40f 0%, #f39c12 100%);
	background:-moz-linear-gradient(top, #f1c40f 0%, #f39c12 100%);
	background:-ms-linear-gradient(top, #f1c40f 0%, #f39c12 100%);
	background:-o-linear-gradient(top, #f1c40f 0%, #f39c12 100%);
	background:linear-gradient(to bottom, #f1c40f 0%, #f39c12 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1c40f', endColorstr='#f39c12',GradientType=0);
	border-color:#f39c12;
	color:#fff;
}
.btn-warning:focus, .btn-warning:active {
	background:#f39c12;
	color:#bdc3c7;
}

.btn-danger {
	background:#de5952;
}
.btn-danger:hover {
	background:#c43c35;
}
/* success */

.btn-success {
	background:#1abc9c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #1abc9c), color-stop(100%, #16a085));
	background:-webkit-linear-gradient(top, #1abc9c 0%, #16a085 100%);
	background:-moz-linear-gradient(top, #1abc9c 0%, #16a085 100%);
	background:-ms-linear-gradient(top, #1abc9c 0%, #16a085 100%);
	background:-o-linear-gradient(top, #1abc9c 0%, #16a085 100%);
	background:linear-gradient(to bottom, #1abc9c 0%, #16a085 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1abc9c', endColorstr='#16a085', GradientType=0);
	border-color:#16a085;
	color:#fff;
}
.btn-success:focus, .btn-success:active {
	background:#16a085;
	color:#bdc3c7;
}

/* error */

.btn-error {
	background:#e74c3c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #e74c3c), color-stop(100%, #c0392b));
	background:-webkit-linear-gradient(top, #e74c3c 0%, #c0392b 100%);
	background:-moz-linear-gradient(top, #e74c3c 0%, #c0392b 100%);
	background:-ms-linear-gradient(top, #e74c3c 0%, #c0392b 100%);
	background:-o-linear-gradient(top, #e74c3c 0%, #c0392b 100%);
	background:linear-gradient(to bottom, #e74c3c 0%, #c0392b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e74c3c', endColorstr='#c0392b',GradientType=0);
	border-color:#c0392b;
	color:#fff;
}
.btn-error:focus, .btn-error:active {
	background:#c0392b;
	color:#bdc3c7;
}

/* special */

.btn-special {
	background: #34495e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #34495e), color-stop(100%, #2c3e50));
	background:-webkit-linear-gradient(top, #34495e 0%, #2c3e50 100%);
	background:-moz-linear-gradient(top, #34495e 0%, #2c3e50 100%);
	background:-ms-linear-gradient(top, #34495e 0%, #2c3e50 100%);
	background:-o-linear-gradient(top, #34495e 0%, #2c3e50 100%);
	background:linear-gradient(to bottom, #34495e 0%, #2c3e50 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#34495e', endColorstr='#2c3e50',GradientType=0);
	border-color:#2c3e50;
	color:#fff;
}
.btn-special:focus, .btn-special:active {
	background:#2c3e50;
	color:#bdc3c7;
}

/* link */

.btn-link {
	margin:0.1875em -0.875em 0.251em;
	background:transparent;
	border-width:0;
	color:#3498db;
}
.btn-link:focus, .btn-link:hover {
	text-decoration:underline;
}

/* a btn */

a.btn:hover {
	color:#fff;
}

.btn-wrapper{
	width:200px;
	margin:0 auto;
}



/* > 6. IMAGES
******************************/

img, .img-default, .img-default img {
	max-width:100%;
	height:auto;
	border-radius:2px;
}
.img-square, .img-square img {
	border-radius:0;
}
.img-circle, .img-circle img {
	border-radius:100%;
}
figure.img-polaroid {
	border-radius:2px;
}
.img-polaroid {
	margin-top:-0.125em;
	padding:0.25em;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background:#fff;
	box-shadow:0 0 2px rgba(0,0,0,0.5);
}
figure figcaption {
	font-size:0.875em;
	line-height:1.75;
	text-align:center;
}
.img-circle figcaption {
	margin-top:0.687em;
	padding-top:0.75em;
	border-top:1px solid #e5e6e7;
}

/* > 7. ICONS
******************************/

.fa {
	width:1em;
	text-align:center;
}

/* > 8. GRID
******************************/

.compact {
	position:relative;
	max-width:61.125em; /* 978px */
	margin:0 auto;
	padding:0 4%;
}
.col1 {width:5.521472392638037%;} /* 54px */
.col2 {width:14.11042944785276%;} /* 138px */
.col3 {width:22.699386503067483%;} /* 222px */
.col4 {width:31.28834355828221%;} /* 306px */
.col5 {width:39.87730061349693%;} /* 390px */
.col6 {width:48.466257668711656%;} /* 474px */
.col7 {width:57.05521472392638%;} /* 558px */
.col8 {width:65.6441717791411%;} /* 642px */
.col9 {width:74.23312883435584%;} /* 726px */
.col10 {width:82.82208588957054%;} /* 810px */
.col11 {width:91.41104294478528%;} /* 894px */
.col12 {width:100%;} /* 978px */
.compact:after,
.row:after {
	content:"";
	display:block;
	width:100%;
	height:0;
	clear:both;
}
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
	float:left;
	margin-right:3.067484662576687%; /* 30px */
}
.row .col1:last-child, .row .col2:last-child, .row .col3:last-child, .row .col4:last-child, .row .col5:last-child, .row .col6:last-child, .row .col7:last-child, .row .col8:last-child, .row .col9:last-child, .row .col10:last-child, .row .col11:last-child, .row .col12:last-child {
	margin-right:0;
}

/* > 9. EXTRAS
******************************/

/* text extras */

.big-title {
	margin-bottom:0.2em;
	font-size:2.5em;
	font-weight:300;
	line-height:1;
}
.light {
	font-weight:300;
}
.heavy {
	font-weight:600;
}
.text-left {
	text-align:left;
}
.text-right {
	text-align:right;
}
.text-center {
	text-align:center;
}
.text-justify {
	text-align:justify;
}

.text-danger {color:#ffffff;}

/* color extras */

.muted {
	color:#7f8c8d;
}
.info {
	color:#2980b9;
}
.warning {
	color:#e67e22;
}
.success {
	color:#16a085;
}
.error {
	color:#c0392b;
}

/* element extras */

.left {
	float:left;
}
.right {
	float:right;
}
.center {
	float:none;
	display:block;
	margin:auto!important;
}
.inline {
	display:inline;
}
.clear:after {
	content:"";
	display:block;
	width:100%;
	height:0;
	clear:both;
}
.cf {
	width:100%;
	height:0;
	clear:both;
}

/* modals */

.modal-open {
	overflow:hidden;
}
.modal {
	display:none;
	position:fixed; top:0; right:0; bottom:0; left:0;
	z-index:99999;
	overflow:auto;
	text-align: center;
}
.modal-dialog {
	position:relative;
	z-index:99999;
	max-width:29.625em;
	width:auto;
	margin:3em auto;
}
.modal-content {
	position:relative;
	padding:1.5em 1.875em;
	background:#fff;
	box-shadow:0 0 3px rgba(0,0,0,0.25);
	border-radius:2px;
}
.modal-backdrop {
	z-index:9999;
	position:fixed; top:0; right:0; bottom:0; left:0;
	background:#000;
	-webkit-transition:opacity 0.375s ease;
	   -moz-transition:opacity 0.375s ease;
	    -ms-transition:opacity 0.375s ease;
	     -o-transition:opacity 0.375s ease;
	        transition:opacity 0.375s ease;
}
.modal-backdrop.fade {
	opacity:0;
	filter:alpha(opacity=0);
}
.modal-backdrop.in {
	opacity:0.5;
	filter:alpha(opacity=50);
}
.modal-header {
	position:relative;
}
.modal-header .close {
	position:absolute; top:0.125em; right:0;
	font-size:1.5em;
	font-weight:700;
	line-height:1;
	color:#9199a1;
}
.modal-header .close:hover {
	text-decoration:none;
	color:#de5952;
}
.modal-title {}
.modal-body {}
.modal-footer {
	margin-top:1.5em;
	padding-top:1.437em;
	border-top:1px solid rgba(0,0,0,0.063);
}
.modal.fade .modal-dialog {
	-webkit-transform:translate(0,-25%);
	   -moz-transform:translate(0,-25%);
	    -ms-transform:translate(0,-25%);
	     -o-transform:translate(0,-25%);
	        transform:translate(0,-25%);
	-webkit-transition:-webkit-transform 0.375s ease-out;
	   -moz-transition:-moz-transform 0.375s ease-out;
	     -o-transition:-o-transform 0.375s ease-out;
	        transition:transform 0.375s ease-out;
}
.modal.in .modal-dialog {
	-webkit-transform:translate(0,0);
	   -moz-transform:translate(0,0);
	    -ms-transform:translate(0,0);
	     -o-transform:translate(0,0);
	        transform:translate(0,0);
}